@model Shocker.Areas.Admin.Models.ViewModels.CreateCouponsViewModel
@{
    ViewData["Title"] = "優惠券";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}
@section Styles
{
    <style>
    .buttonWidth{
        width:30%;
    }
    </style>
}
<div class="@*container-fluid py-4*@" id="app">
    
    <div class="container-fluid py-4">
        @*AllCouponsTable*@
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a href="/Home" class="opacity-5 text-white">首頁</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">賣家中心</li>
                    </ol>
                    <h6 class="font-weight-bolder text-white mb-0">優惠券總覽</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item dropdown pe-2 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-white font-weight-bold px-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none">帳號操做</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="/User/MyAccount?tab=a">
                                        <div class="d-flex py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1">
                                                    <span class="font-weight-bold">我的帳戶</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <a class="dropdown-item border-radius-md" href="/Member/SignOut">
                                        <div class="d-flex py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="text-sm font-weight-normal mb-1">
                                                    <span class="font-weight-bold">登出</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row" v-if="tableControl">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h3>優惠券</h3>
                        <div class="row">
                            <div class="col-4">
                                <a class="btn btn-info btn-sm" v-on:click="viewChange" id="createCoupon" style="width:100%">創建個人優惠券</a>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-info btn-sm" v-on:click=" happyBirthday" id="createCoupon" style="width:100%">本月壽星優惠券發送!</a>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-5 d-flex justify-content-end align-items-center" >
                                <label style="width:30%" class="">搜尋:</label>
                                <input type="text" v-model="filter" v-on:keyup="couponSerch" class="form-control " placeholder="請輸入關鍵字內容" />
                            </div>
                        </div>
                    </div>

                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    @*標題*@
                                    <tr class="text-white text-center">
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">持有者</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">發行人</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">類別</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">折扣</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">結束時間</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in displayCp">
                                        @*持有者資訊*@
                                        <td class="text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{item.holderAccount}}</p>
                                        </td>
                                        @*發行人*@
                                        <td class="text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{item.publisherAccount}}</p>
                                        </td>
                                        @*類別*@
                                        <td class="text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{item.caregotyName}}</p>
                                            <p v-if="item.productCategoryId==1" class="text-xs font-weight-bold mb-0 ">衣服</p>
                                            <p v-if="item.productCategoryId==2" class="text-xs font-weight-bold mb-0">文具</p>
                                            <p v-if="item.productCategoryId==3" class="text-xs font-weight-bold mb-0">生鮮食材</p>
                                            <p v-if="item.productCategoryId==4" class="text-xs font-weight-bold mb-0">電玩</p>
                                            <p v-if="item.productCategoryId==5" class="text-xs font-weight-bold mb-0">美妝</p>
                                            <p v-if="item.productCategoryId==6" class="text-xs font-weight-bold mb-0">家電</p>
                                            <p v-if="item.productCategoryId==7" class="text-xs font-weight-bold mb-0">漫畫</p>
                                            <p v-if="item.productCategoryId==8" class="text-xs font-weight-bold mb-0">家具</p>
                                            <p v-if="item.productCategoryId==9" class="text-xs font-weight-bold mb-0">生日禮</p>
                                        </td>
                                        @*折扣*@
                                        <td class="text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{item.discount}}</p>
                                        </td>
                                        @*結束時間*@
                                        <td class="text-center">
                                            <p class="text-xs font-weight-bold mb-0">{{item.expirationDate}}</p>
                                        </td>
                                        @*狀態*@
                                        <td class="align-middle text-center text-sm">
                                            <span v-if="item.status=='c0'" class="badge badge-sm bg-gradient-danger">未使用</span>
                                            <span v-if="item.status=='c1'" class="badge badge-sm bg-gradient-success">已使用</span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*CreateCoupon*@
        <div class="row" v-if="couponControl">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                            <h3 class="mb-0">建立折扣卷</h3>
                            <button class="btn btn-primary btn-sm ms-auto buttonWidth" @@click="requiredInput(),createCoupon()">Create</button>
                            
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-secondary btn-sm ms-auto buttonWidth" v-on:click="backToTable">back</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-uppercase text-sm">操作</h3>
                        <hr class="horizontal dark">
                        
                        <div class="row">
                            <div class="col-md-6">
                                @*優惠券張數*@
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">張數</label>
                                    <input v-model="cAmount" class="form-control" type="text" value="Jesse">
                                    
                                    @*//Status選擇*@
                                    @*                                    <label for="example-text-input" class="form-control-label">Status</label>
                                    <select v-model="cStatus" class="form-select" >
                                    <option value="c0">未使用</option>
                                    <option value="c1">已使用</option>
                                    </select>*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*//CategoryId*@
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">商品類別</label>
                                    <select v-model="cProductCategoryId" class="form-select" aria-label="Default select example">
                                        <option selected value="">請選擇類別</option>
                                        <option value="1">衣服</option>
                                        <option value="2">文具</option>
                                        <option value="3">生鮮食材</option>
                                        <option value="4">電玩</option>
                                        <option value="5">美妝</option>
                                        <option value="6">家電</option>
                                        <option value="7">漫畫</option>
                                        <option value="8">家具</option>
                                    </select>
                                    @*<input class="form-control" type="email" value="jesse@example.com" onfocus="focused(this)" onfocusout="defocused(this)">*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*//Discount*@
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">折扣數</label>
                                    <input v-model="cDiscount" class="form-control" type="text" value="Jesse" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*//到期日*@
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">到期日</label>
                                    <input v-model="cExpirationDate" class="form-control" type="date" >
                                </div>
                            </div>
                        </div>
                        
                        <br />
                        <h3 class="text-uppercase text-sm">收件者</h3>
                        <hr class="horizontal dark">
                        <div class="row">
                            <div class="col-md-12">
                                @*//收件帳號*@
                                <div class="form-group">
                                    <label for="example-text-input" class="form-control-label">請選擇接收者</label>
                                    <select v-model="cHolderAccount" class="form-select" aria-label="Default select example">
                                        <option selected value=""> 請選擇帳號 </option>
                                        <option  v-for="item in displayUser" :value="item.holderAccount">{{item.holderAccount}}</option>
                                    </select>
                                    
                                </div>
                                <p v-if="errorsCreate">
                                    <b>請正確填入所有值</b>
                                    <ul>
                                        <li v-for="error in errors" class="text-danger">{{error}}</li>
                                    </ul>
                                </p>
                            </div>
                            @*                        <div class="col-md-4">
                            <div class="form-group">
                            <label for="example-text-input" class="form-control-label">City</label>
                            <input class="form-control" type="text" value="New York" onfocus="focused(this)" onfocusout="defocused(this)">
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Country</label>
                            <input class="form-control" type="text" value="United States" onfocus="focused(this)" onfocusout="defocused(this)">
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="form-group">
                            <label for="example-text-input" class="form-control-label">Postal code</label>
                            <input class="form-control" type="text" value="437300" onfocus="focused(this)" onfocusout="defocused(this)">
                            </div>
                            </div>
                            </div>
                            <hr class="horizontal dark">
                            <p class="text-uppercase text-sm">About me</p>
                            <div class="row">
                            <div class="col-md-12">
                            <div class="form-group">
                            <label for="example-text-input" class="form-control-label">About me</label>
                            <input class="form-control" type="text" value="A beautiful Dashboard for Bootstrap 5. It is Free and Open Source." onfocus="focused(this)" onfocusout="defocused(this)">
                            </div>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var VueApp = {
            data() {
                return {
                    displayCp: [],
                    cExpirationDate: '',
                    cHolderAccount: '',
                    cProductCategoryId: '',
                    cDiscount: '',
                    cAmount: '',
                    //cStatus: '',
                    /*cPublisherAccount: 'Admin1',*/  /*補目前身分*/
                    tableControl: true,
                    couponControl: false,
                    filter: '',
                    errormessage:[],
                    displayUser:[],
                    hbd:[],
                    errors:[],
                    errorsCreate:false,
                    happyC:'',
                };
            },
            mounted: function () {
                _this = this;
                _this.displayCoupon();
                _this.displayUserAccount();
            },
            methods: {
                displayCoupon: function () {
                    var _this = this;
                    axios.post(`${window.location.origin}/Admin/Coupon/DisaplayCoupon`)
                        .then(res => { _this.displayCp = res.data })
                },
                displayUserAccount: function(){
                    var _this = this;
                    axios.post(`${window.location.origin}/Admin/Coupon/DisplayUser`)
                        .then(res => {_this.displayUser =res.data})
                },
                createCoupon: function () { 
                    var _this = this;
                    input = {};
                    input.Amount = _this.cAmount;
                    input.ExpirationDate = _this.cExpirationDate;
                    input.HolderAccount = _this.cHolderAccount;
                    input.ProductCategoryId = parseInt(_this.cProductCategoryId);
                    input.Discount = parseFloat(_this.cDiscount);
                    //input.PublisherAccount = _this.cPublisherAccount;
                    axios.post(`${window.location.origin}/Admin/Coupon/CreateCoupon`, input)
                        .then(response => {
                            if (response.data.message != "建立成功") { _this.nosweetAlert(response.data.message) }
                            else { _this.sweetAlert(response.data.message) }
                        })
                             .catch(error => {
                            console.log(_this.errormessage = error.response.data.error)
                        })

                    //window.location.replace(location.href);
                },
                couponSerch: function () {
                    var _this = this;
                    input = {};
                    input.Discount = isNaN(Number(_this.filter)) ? -1 : Number(_this.filter);
                    input.HolderAccount = input.StatusName = input.CategoryName = input.PublisherAccount = _this.filter;
                    axios.post(`${window.location.origin}/Admin/Coupon/FilterCoupon`, input)
                        .then(res => { _this.displayCp = res.data })
                },
                
                viewChange: function () {
                    var _this = this;
                    _this.tableControl = false;
                    _this.couponControl = true;
                },
                backToTable:function(){
                    var _this = this;
                    _this.tableControl = true;
                    _this.couponControl = false;
                },
                sweetAlert: function (input) {
                    Swal.fire({
                        title: '送出成功',
                        text: input,
                        icon: 'success',
                        timer: 6000,
                        confirmButtonText: '完成'

                    }).then((result) => window.location.replace(window.location.href))
                },
                hsweetAlert: function (input) {
                    Swal.fire({
                        title: '當月壽星確認完畢',
                        html: input,
                        icon: 'success',
                        confirmButtonText: '完成'

                    }).then((result) => window.location.replace(window.location.href))
                },
                nosweetAlert: function (input) {
                    Swal.fire({
                        title: '錯誤',
                        text: input,
                        icon: 'error',
                        timer: 6000,
                        confirmButtonText: '完成'
                    })
                },
                happyBirthday:function(){
                    var _this =this;
                    axios.get(`${window.location.origin}/Admin/Coupon/CreateHBDCoupon`)
                        .then(response => {_this.happyC=response.data.message;
                            var sp =_this.happyC.split(',').join('<br/>');
                            _this.hsweetAlert(sp);
                        })
                    //if (response.data.status) { _this.sweetAlert(sp)}
                    //else { _this.nosweetAlert(sp) };
                    //if (response.data.message != "成功送出生日優惠券") { _this.nosweetAlert(response.data.message) }
                    //        else { _this.sweetAlert(response.data.message) }
                //})
                },
                requiredInput:function(){
                   
                    var _this = this;
                    var a = _this.errorsCreate;

                    
                    if (_this.cExpirationDate == null || _this.cExpirationDate=="") {
                        _this.errors.push("到期日為必填");
                        a=true;
                    }
                    
                    if (_this.cDiscount <=0 || _this.cDiscount >0.99 || _this.cDiscount =="") {
                        _this.errors.push("折扣數請輸入 0和1之間 *取至小數點後一位 ex:0.5");
                        a = true;
                    }
                    if (_this.cProductCategoryId == NaN || _this.cProductCategoryId == "") {
                        _this.errors.push("使用者不可為空");
                        a = true;
                    }
                    if (_this.cAmount <= 0 || _this.cAmount=="" || _this.cAmount==null) {
                        _this.errors.push("請輸入數字且張數不能為0");
                        a = true;
                    }
                },
        },
        }
        var app = Vue.createApp(VueApp).mount("#app");

    </script>
    }
