 <!-- Hero Section Begin -->
<div id="app">
	<section class="hero">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="hero__categories">
						<div class="hero__categories__all">
							<i class="fa fa-bars"></i>
							<span>商品分類</span>
						</div>
						<ul>
							<li><a href="/ShoppingCart/Productlist/1">衣服</a></li>
							<li><a href="/ShoppingCart/Productlist/2">文具</a></li>
							<li><a href="/ShoppingCart/Productlist/3">食品</a></li>
							<li><a href="/ShoppingCart/Productlist/4">電玩</a></li>
							<li><a href="/ShoppingCart/Productlist/5">美妝</a></li>
							<li><a href="/ShoppingCart/Productlist/6">家電</a></li>
							<li><a href="/ShoppingCart/Productlist/7">漫畫</a></li>
							<li><a href="/ShoppingCart/Productlist/8">家具</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="hero__search">
						<div class="hero__search__phone">
							<img src="~/img/advertise/my project-1 (1).png" />
						</div>
					</div>
					<div style="text-align:center">
						<img src="~/img/advertise/my project-1 (2).png" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->
	<!-- Categories Section Begin -->
	<section class="categories">
		<div class="container">
			<div class="row">
				<div class="categories__slider owl-carousel">

					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-1.jpg">
							<h5><a href="/ShoppingCart/ProductList/1">衣服</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-2.jpg">
							<h5><a href="/ShoppingCart/ProductList/2">文具</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-3.jpg">
							<h5><a href="/ShoppingCart/ProductList/3">食品</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-4.jpg">
							<h5><a href="/ShoppingCart/ProductList/4">電玩</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-5.jpg">
							<h5><a href="/ShoppingCart/ProductList/5">美妝</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-6.jpg">
							<h5><a href="/ShoppingCart/ProductList/6">家電</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-7.jpg">
							<h5><a href="/ShoppingCart/ProductList/7">漫畫</a></h5>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="categories__item set-bg" data-setbg="img/categories/categories-8.jpg">
							<h5><a href="/ShoppingCart/ProductList/8">家具</a></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->
	<!-- Featured Section Begin -->
	<section class="featured spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>人氣商品</h2>
					</div>
					<div class="featured__controls">
						<ul>
							<li class="active" @@click="showPopluarProduct(0)">全部</li>
							<li @@click="showPopluarProduct(1)">衣服</li>
							<li @@click="showPopluarProduct(2)">文具</li>
							<li @@click="showPopluarProduct(3)">食品</li>
							<li @@click="showPopluarProduct(4)">電玩</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6" v-for="item in nowpop">
					<a :href="'/ShoppingCart/Product/'+item.productId">
						<div class="featured__item">
							<div class="featured__item__pic set-bg">
								<div>
									<img :src="'/productpictures/'+item.picture" style="width:200px;height:200px" />
								</div>
							</div>
							<div class="featured__item__text">
								<h6>{{item.productName}}</h6>
								<h5>{{'$'+item.unitPrice}}</h5>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Featured Section End -->
	<!-- Latest Product Section Begin -->
	<section class="latest-product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
				</div>				
				@if (User.Identity.IsAuthenticated){
					<div class="col-lg-4 col-md-6">
						<div class="latest-product__text">
							<h4>最新商品</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a :href="'/ShoppingCart/Product/'+item.productId" class="latest-product__item" v-for="item in latestProduct1">
										<div class="latest-product__item__pic">
											<img :src="'/productpictures/'+item.picture" style="width:100px;height:100px">
										</div>
										<div class="latest-product__item__text">
											<h6>{{item.productName}}</h6>
											<span>{{'$'+item.unitPrice}}</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a :href="'/ShoppingCart/Product/'+item.productId" class="latest-product__item" v-for="item in latestProduct2">
										<div class="latest-product__item__pic">
											<img :src="'/productpictures/'+item.picture" style="width:100px;height:100px">
										</div>
										<div class="latest-product__item__text">
											<h6>{{item.productName}}</h6>
											<span>{{'$'+item.unitPrice}}</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="latest-product__text">
							<h4>最新優惠券</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a href="/User/MyAccount?tab=d" class="latest-product__item" v-for="item in yourCoupons1">
										<div class="latest-product__item__pic">
											<img src="img/coupon.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{item.categoryName}}</h6>
											<span>{{item.discount+'折'}}</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a href="/User/MyAccount?tab=d" class="latest-product__item" v-for="item in yourCoupons2">
										<div class="latest-product__item__pic">
											<img src="img/coupon.png" alt="">
										</div>
										<div class="latest-product__item__text">
											<h6>{{item.categoryName}}</h6>
											<span>{{item.discount+'折'}}</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				}
				else
				{
					<div class="col-lg-8 col-md-12">
						<div class="latest-product__text">
							<h4>最新商品</h4>
							<div class="latest-product__slider owl-carousel">
								<div class="latest-prdouct__slider__item">
									<a :href="'/ShoppingCart/Product/'+item.productId" class="latest-product__item" v-for="item in latestProduct1">
										<div class="latest-product__item__pic">
											<img :src="'/productpictures/'+item.picture" style="width:200px;height:200px">
										</div>
										<div class="latest-product__item__text">
											<h6>{{item.productName}}</h6>
											<span>{{'$'+item.unitPrice}}</span>
										</div>
									</a>
								</div>
								<div class="latest-prdouct__slider__item">
									<a :href="'/ShoppingCart/Product/'+item.productId" class="latest-product__item" v-for="item in latestProduct2">
										<div class="latest-product__item__pic">
											<img :src="'/productpictures/'+item.picture" style="width:200px;height:200px">
										</div>
										<div class="latest-product__item__text">
											<h6>{{item.productName}}</h6>
											<span>{{'$'+item.unitPrice}}</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				}
				<div class="col-lg-2">
				</div>
			</div>
		</div>
	</section>
	<!-- Latest Product Section End -->
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="~/axios/axios.min.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			popularProduct: {},
			nowpop: [],
			latestProduct1: [],
			latestProduct2: [],
			yourCoupons1: [],
			yourCoupons2: [],
		},
		mounted: function () {
			this.getPopluarProduct();
			this.getLatestProduct();
			this.getYourCoupons();
		},
		methods: {
			getPopluarProduct: function () {
				var _this = this;
				axios.get('/ShoppingCart/GetPopluarProduct').then(response => {
					if (response.data.status) {
						_this.popularProduct = response.data.data;
					}
					else { alert('人氣商品資料載入失敗') }
					_this.showPopluarProduct(0);
				});
			},
			showPopluarProduct: function (categoryId) {
				var _this = this;
				switch (categoryId) {
					case 0:
						_this.nowpop = [];
						for (var i = 0; i < _this.popularProduct.allProduct.length; i++) {
							_this.nowpop.push(_this.popularProduct.allProduct[i]);
						};
						break;
					case 1:
						_this.nowpop = [];
						for (var i = 0; i < _this.popularProduct.product1.length; i++) {
							_this.nowpop.push(_this.popularProduct.product1[i]);
						};
						break;
					case 2:
						_this.nowpop = [];
						for (var i = 0; i < _this.popularProduct.product2.length; i++) {
							_this.nowpop.push(_this.popularProduct.product2[i]);
						};
						break;
					case 3:
						_this.nowpop = [];
						for (var i = 0; i < _this.popularProduct.product3.length; i++) {
							_this.nowpop.push(_this.popularProduct.product3[i]);
						};
						break;
					case 4:
						_this.nowpop = [];
						for (var i = 0; i < _this.popularProduct.product4.length; i++) {
							_this.nowpop.push(_this.popularProduct.product4[i]);
						};
						break;
					default:
						break;
				};
			},
			getLatestProduct: function () {
				var _this = this;
				axios.get('/ShoppingCart/GetLatestProduct').then(response => {
					if (response.data.status) {
						for (var i = 0; i < response.data.data.latestProduct.length; i++) {
							response.data.data.latestProduct[i].path = `${window.location.origin}/productpictures/${response.data.data.latestProduct[i].pictureId}-${response.data.data.latestProduct[i].path};`
						}
						_this.latestProduct1 = response.data.data.latestProduct.slice(0, 3);
						_this.latestProduct2 = response.data.data.latestProduct.slice(3, 6);
					}
					else { alert('最新商品資料載入失敗') }
				});
			},
			getYourCoupons: function () {
				var _this = this;
				axios.get('/ShoppingCart/GetYourCoupons').then(response => {
					if (response.data.status) {
						_this.yourCoupons1 = response.data.data.yourCoupons.slice(0, 3);
						_this.yourCoupons2 = response.data.data.yourCoupons.slice(3, 6);
					}					
				});
			}
		},
	});

</script>