@model Shocker.Models.ViewModels.CustomerQAViewModel
@section Styles
{
    <link href="~/css/rong.css" rel="stylesheet" />
}


<body>
    <div class="contact-form spad ">
        <div class="container formborder">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>ContantUS</h2>
                    </div>
                </div>
            </div>
            <form asp-controller="CustomerQuestion" asp-action="Index" method="post">
                <div class="row">
                    <div class="col-lg-12 col-md-12 text-center categoryCenter">
                        <select class="selectBorder allBorder " asp-for="QuestionCategoryId">
                            <option value="-1" selected>請選擇您的問題種類</option>
                            <option value="1">帳號問題</option>
                            <option value="2">付款問題</option>
                            <option value="3">退款問題</option>
                            <option value="4">更改出貨地址</option>
                            <option value="5">其他類別</option>
                        </select>
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <span asp-validation-for="QuestionCategoryId" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="col-lg-12 col-md-12 text-center">
                        <textarea asp-for="Description" class="allBorder" rows="20" cols="10" placeholder="請輸入您的問題我們會儘快回復"></textarea>
                        <div class="col-lg-12 col-md-12 text-center">
                            
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <button type="submit" class="site-btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

