@model Shocker.Models.ViewModels.UserViewModel
@section Styles
	{
}
<div id="app" class="container">
	<div>		
		<div class="mb-3 row">
			<label for="staticPicture" class="col-sm-2 col-form-label">頭像</label>
			<div class="col-sm-10">
				<img style="width:250px;height:250px" :src="picture"/>
				<input type="file" @@change="selectPicture" />
				<button type="button" class="btn btn-outline-success" @@click="uploadPicture">上傳</button>
			</div>
		</div>		

		<hr style="height: 3px;border-color: chartreuse;background-color: chartreuse" />
		
		<template v-if="Edit==false">
			<div class="mb-3 row">
				<label for="staticAccount" class="col-sm-2 col-form-label">帳號</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="staticAccount" v-model="users.user.id">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
				<div class="col-sm-10">
					<input type="password" readonly maxlength="50" class="form-control-plaintext" id="inputPassword" v-model="users.user.password">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputName" class="col-sm-2 col-form-label">名字</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="inputName" v-model="users.user.nickName">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputGender" class="col-sm-2 col-form-label">性別</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="inputGender" v-model="users.user.gender">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputBirthDate" class="col-sm-2 col-form-label">生日</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="inputBirthDate" v-model="users.user.birthDate">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputEmail" class="col-sm-2 col-form-label">郵件</label>
				<div class="col-sm-10">
					<input type="text" maxlength="50" readonly class="form-control-plaintext" id="inputEmail" v-model="users.user.email">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticPhone" class="col-sm-2 col-form-label">手機</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="staticPhone" v-model="users.user.phone">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticRole" class="col-sm-2 col-form-label">身分</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="staticRole" v-model="users.user.role">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticRegisterDate" class="col-sm-2 col-form-label">帳號創辦時間</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="staticRegisterDate" v-model="users.user.registerDate">
				</div>
			</div>

			<div class="mb-3 row">			
				<label for="staticRegisterDate" class="col-sm-2 col-form-label">地址</label>
				<div class="col-sm-10" >
					<input type="text" readonly class="form-control-plaintext" id="staticRegisterDate" v-model="selectAddress">
				</div>
			</div>

			<div class="col-sm-3">
				<button type="button" class="btn btn-outline-info" @@click="editUsers">編輯</button>
			</div>
		</template>
		
		<template v-else>
			<div class="mb-3 row">
				<label for="staticAccount" class="col-sm-2 col-form-label">帳號</label>
				<div class="col-sm-6">
					<input type="text" readonly class="form-control-plaintext" id="staticAccount" v-model="users.user.id">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputPassword" v-model="users.user.password">
				</div>
				<div v-if="pErrorbox" class="text-danger">
					<h5 class="text-danger">錯誤:{{errors.passwordError}}</h5>
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputName" class="col-sm-2 col-form-label">名字</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputName" v-model="users.user.nickName">
				</div>
				<div v-if="nErrorbox" class="text-danger">
					<h5 class="text-danger">錯誤:{{errors.nicknameError}}</h5>
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputGender" class="col-sm-2 col-form-label">性別</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputGender" v-model="users.user.gender">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputBirthDate" class="col-sm-2 col-form-label">生日</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputBirthDate" v-model="users.user.birthDate">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="inputEmail" class="col-sm-2 col-form-label">郵件</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="inputEmail" v-model="users.user.email">
				</div>
				<div v-if="eErrorbox" class="text-danger">
					<h5 class="text-danger">錯誤:{{errors.emailError}}</h5>
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticPhone" class="col-sm-2 col-form-label">手機</label>
				<div class="col-sm-6">
					<input type="text" readonly class="form-control-plaintext" id="staticPhone" v-model="users.user.phone">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticRole" class="col-sm-2 col-form-label">身分</label>
				<div class="col-sm-6">
					<input type="text" readonly class="form-control-plaintext" id="staticRole" v-model="users.user.role">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticRegisterDate" class="col-sm-2 col-form-label">帳號創辦時間</label>
				<div class="col-sm-6">
					<input type="text" readonly class="form-control-plaintext" id="staticRegisterDate" v-model="users.user.registerDate">
				</div>
			</div>

			<div class="mb-3 row">
				<label for="staticaddress" class="col-sm-2 col-form-label">地址</label>
				<select v-model="selectAddress" type="text" class="col-12">
					<option value="" disabled>選擇地址</option>
					<option v-for="item in users.address" :value="item.Address" :key="item.Address">{{item.Address}}</option>
				</select>
				
			</div>

			<div class="mb-3 row">
				<label for="inputEmail"  class="col-sm-2 col-form-label">新增地址</label>
				<div class="col-sm-10">
					<input type="text" maxlength="50" class="form-control" id="inputEmail" v-model="addAddress">
				</div>				
			</div>

			<div class="row">
				<div class="col-sm-3">
					<button type="button" class="btn btn-outline-success" @@click="updateUsers()">完成</button>@*按完成以完成編輯*@
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelModal">取消</button>@*按取消彈出提示訊息，再按確定才會取消所有變更內容，按返回則回復*@
					<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">取消變更</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">您確定要取消所有變更內容?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal" @@click="cancel">確定</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="~/axios/axios.min.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			users: {
				user:{},
				address:[]
			},
			picture: "",
			uploadPic: {},
			selectAddress:"",
			addAddress:"",
			Edit: false,
			//驗證欄位
			errors:{

			},
			eErrorbox:false,
			pErrorbox:false,
			nErrorbox:false
		},
		mounted: function () {
			this.getUsers();//一開始載入即執行getUsers()以拿到資料
		},
		methods: {
			getUsers: function () {//帶入後端傳來的User資料，並將picture於當前伺服器上的路由組成正確
				var _this = this;
				axios.get(`/User/GetAccount`).then(response => {
					_this.users = response.data.Data;
					_this.picture = '/' + _this.users.user.picture
					_this.selectAddress=_this.users.address[0].Address
				})
				.catch(error=>{
					alert(error.response.data.errorMessage);
				});
			},
			updateUsers: function () {//更改User指定欄位之資料
				var _this = this;
				_this.eErrorbox= false;
				_this.pErrorbox= false;
				_this.nErrorbox= false;
				var request = {
					id:_this.users.user.id,
					password: _this.users.user.password,
					nickName: _this.users.user.nickName,
					gender: _this.users.user.gender,
					birthDate: _this.users.user.birthDate,
					email: _this.users.user.email,
					address: _this.addAddress
				};
				axios.post(`/User/UpdateAccount`, request).then(response => {
					if (response.data.status){
						alert('更新資料成功');
						_this.getUsers();
						_this.Edit = false;					
					}
					else { 
						alert(response.data.errorMessage);
						_this.errors = response.data.data ;
						if (_this.errors.emailError != null) { _this.eErrorbox =true;}
						if (_this.errors.nicknameError != null) { _this.nErrorbox =true;}
						if (_this.errors.passwordError != null) { _this.pErrorbox = true; }
					}
				})			
			},
			editUsers: function () {//開始編輯User的欄位
				this.Edit = true;
				this.eErrorbox = false;
				this.pErrorbox = false;
				this.nErrorbox = false;
			},
			cancel: function () {//取消編輯User的欄位，並更新當前User的資料
				this.Edit = false;
				this.addAddress ="";
				this.getUsers();
			},
			selectPicture: function (evemt) {//點選要上傳的的圖片
				var _this = this;
				_this.uploadPic = event.target.files[0];//(1)從local裝置中點選要上傳的檔案存至uploadPic	
				
				var reader = new FileReader();
				reader.onload = function (e) {
					_this.picture = e.target.result;//(3)將轉成URL的目標(uploadPic)放入picture，便可達成預覽欲上傳之圖片的效果
				}
				reader.readAsDataURL(_this.uploadPic);//(2)將uploadPic(剛點選放入的圖片)轉成URL
			},
			uploadPicture: function () {//上傳圖片
				var _this = this;
				var formdata = new FormData();
				formdata.append('Id', _this.users.user.id);
				formdata.append('Picture', _this.uploadPic);
				axios.post(`/User/UploadPicture`, formdata).then(response => {					
						alert('上傳成功!')//跳上傳成功的訊息					
				});
			},		
		}
	});
</script>


