@model Shocker.Models.ViewModels.UserViewModel

<img src="~/img/breadcrumb.jpg" />

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">                 
                    <div class="blog__sidebar__item">
                        <ul class="nav flex-column">
							<h3>我的帳號</h3>
							<li class="nav-item">
                                <a class="nav-link active" asp-controller="User" asp-route-tab="a" aria-current="page">個人檔案</a>@*點選下方用戶資訊編輯菜單選項時，傳入tab=abcde的參數至該Controller*@
                            </li>                          
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-route-tab="b">購買清單</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-route-tab="c">我的優惠碼</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="User" asp-route-tab="d">客服發問紀錄</a>
                            </li>
                        </ul>                                                                   
                    </div>                 
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    @{
                        switch (ViewBag.Tab)//後端丟來之ViewBag=abcde時，於指定位置呈現不同的PartialView
                        {
                            case "a":
                                <partial name="EditMyAccountPartial" />
                                break;                          
                            case "b":
                                <partial name="OrderlistsPartial" />
                                break;
                            case "c":
                                <partial name="MyPromocodePartial" />
                                break;
                            case "d":
                                <partial name="QuestionRecordPartial" />
                                break;
                        }
                    }                               
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->