@section Styles
	{
}

<div id="app" class="container">
	<div class="form-group">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<span class="navbar-brand" style="color:blue">您的訂單</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="nav nav-tabs justify-content-center">
					<li class="nav-item">
						<a class="nav-link" href="#" @@click="filterStatus('未出貨')">未出貨</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" @@click="filterStatus('未完全收貨')">未完全收貨</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" @@click="filterStatus('已收貨')">已收貨</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" @@click="filterStatus('含退貨')">含退貨</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" @@click="filterStatus('已取消')">已取消</a>
					</li>
				</ul>
			</div>
		</nav>
		<table class="table table-hover table table-striped">
			<thead>
				<tr>
					<th scope="col">查看詳情</th>
					<th scope="col">訂單編號</th>
					<th scope="col">訂單狀態</th>
					<th scope="col">付款方式</th>
					<th scope="col">訂單總額</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index) in ordersInPage">
					<td scope="row">
						<a button type="button" class="btn btn-outline-primary" :href="'/User/UserOrderDetails?id='+item.orderId">訂單詳情頁面</a>
					</td>
					<td>{{item.orderId}}</td>
					<td>
						{{item.status}}
						<template v-if="item.status=='未出貨'">
							<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#cancelordersModal" @@click="cancel(item.orderId)">取消訂單</button>
							<div class="modal fade" id="cancelordersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">取消訂單</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="form-group">
											<label for="exampleFormControlTextarea1">您確定要取消編號{{orderId}}訂單?裡面總共有{{productName.join(',')}}等品項</label>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
											<button type="button" class="btn btn-danger" data-dismiss="modal" @@click="cancelOrders(orderId)">確定</button>
										</div>
									</div>
								</div>
							</div>
						</template>
					</td>
					<td>{{item.payMethod}}</td>
					<td>{{totalPrice(item.orderId)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row justify-content-center">
		<paginate :page-count="pageCount"
				  :click-handler="changePage"
				  :prev-text="'Prev'"
				  :next-text="'Next'"
				  :page-class="'page-item'"
				  :page-link-class="'page-link'"
				  :prev-class="'page-item'"
				  :prev-link-class="'page-link'"
				  :next-class="'page-item'"
				  :next-link-class="'page-link'"
				  :container-class="'pagination justify-content-center'">
		</paginate>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
<script src="~/axios/axios.min.js"></script>
<script>
	Vue.component('paginate', VuejsPaginate)
	var baseAddress = "https://localhost:7259/User";
	var app = new Vue({
		el: '#app',
		data: {
			orders: {
				order: [],
				orderdetails: []
			},
			status: "未出貨",
			orderId:"",
			productName: [],
			maxCount: 5,
			currentPage: 1
		},
		mounted: function () {
			this.getOrders();
		},
		computed: {
			pageCount: function () {
				return Math.ceil(this.orders.order / this.maxCount);
			},
			filterOrders: function () {
				return this.orders.order.filter(o => o.status == this.status);
			},
			ordersInPage: function () {
				var max = this.currentPage * this.maxCount;
				var min = this.maxCount * (this.currentPage - 1) + 1;
				console.log('max', max);
				console.log('min', min);
				return this.filterOrders.slice(min - 1, max);
			},
		},
		methods: {
			getOrders: function () {
				var _this = this;
				axios.get(`${baseAddress}/GetOrders`).then(response => {
					console.log(JSON.stringify(response.data.data));
					_this.orders = response.data.data;
				});
			},
			cancel: function (id) {
				var _this = this;
				_this.orderId=id;
				_this.productName = [];
				for (var i = 0; i < _this.orders.orderdetails.length; i++) {
					if (_this.orders.orderdetails[i].orderId == id) {
						_this.productName.push(_this.orders.orderdetails[i].productName);
					}
				}
			},
			cancelOrders:function(orderId){
				var request={
					OrderID:orderId,
				}
				axios.post(`${baseAddress}/CancelOrders`,request).then(reponse=>{
					alert('取消訂單成功');
					this.getOrders();
				});
			},
			changePage: function (page) {
				console.log(page);
				this.currentPage = page;
			},
			filterStatus: function (status) {
				this.status = status
			},
			totalPrice: function (id) {
				var sum = 0;
				for (var i = 0; i < this.orders.orderdetails.length; i++) {
					if (this.orders.orderdetails[i].orderId == id) {
						if (this.orders.orderdetails[i].discount == null) {
							sum += this.orders.orderdetails[i].quantity * this.orders.orderdetails[i].unitPrice;
						}
						else {
							sum += this.orders.orderdetails[i].quantity * this.orders.orderdetails[i].unitPrice * this.orders.orderdetails[i].discount;
						}
					}
				}
				return Math.ceil(sum);
			},
			//findOrderdetails: function (id) {
			//	var _this = this;
			//	_this.productName = [];
			//	for (var i = 0; i < _this.orders.orderdetails.length; i++) {
			//		if (_this.orders.orderdetails[i].orderId == id) {
			//			_this.productName.push(_this.orders.orderdetails[i].productName);
			//		}
			//	}
			//},
		},
	});






				
			

</script>						