@section Styles
	{
	<style>
		.orderdetail_column {
			table-layout: fixed;
			width: 100%;
		}

		.shoping__cart__table th.product_column {
			width: 25%
		}

		.shoping__cart__table th.productname_column {
			width: 10%
		}

		.shoping__cart__table th.categoryname_column {
			width: 5%
		}

		.shoping__cart__table th.selleraccount_column {
			width: 10%
		}

		.shoping__cart__table th.unitprice_column {
			width: 5%
		}

		.shoping__cart__table th.quantity_column {
			width: 5%
		}

		.shoping__cart__table th.discount_column {
			width: 5%
		}

		.shoping__cart__table th.starcount_column {
			width: 5%
		}

		.shoping__cart__table th.description_column {
			width: 15%
		}

		.shoping__cart__table th.statusname_column {
			width: 15%
		}

		.totalsumprice{
			color:red;
		}
	</style>
}

<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="breadcrumb__text">
				<h2>Shopping Cart</h2>
				<div class="breadcrumb__option">
					<a href="./index.html">Home</a>
					<span>Shopping Cart</span>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="shoping-cart spad">
	<div id="app" class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="shoping__cart__table orderdetail_column">
					<table>
						<thead>
							<tr>
								<th class="shoping__product product_column">商品</th>
								<th class="productname_column">商品名稱</th>
								<th class="categoryname_column">商品種類</th>
								<th class="selleraccount_column">賣家</th>
								<th class="unitprice_column">價錢</th>
								<th class="quantity_column">數量</th>
								<th class="discount_column">折扣</th>
								<th class="starcount_column">評價</th>
								<th class="description_column">評價內容</th>
								<th class="statusname_column">收貨狀態</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in allData.details">
								<td class="shoping__cart__item">
									<img style="width:250px;height:250px" :src="item.path" alt="">
								</td>
								<td class="shoping__cart__price">
									{{item.productName}}
								</td>
								<td class="shoping__cart__price">
									{{item.categoryName}}
								</td>
								<td class="shoping__cart__price">
									{{item.sellerAccount}}
								</td>
								<td class="shoping__cart__quantity">
									{{item.unitPrice}}
								</td>
								<td class="shoping__cart__total">
									{{item.quantity}}
								</td>
								<td class="shoping__cart__price">									
									<template v-if="item.discount!=null">
										{{item.discount}}
										<span class="badge bg-success">有使用優惠</span>
									</template>
									<template v-else>
										<span class="badge bg-danger">未使用優惠</span>
									</template>
								</td>
								<td class="shoping__cart__price">								
									<template v-if="item.starCount==0">
										<span class="badge bg-danger">暫無評價</span>
									</template>
									<template v-else>
										{{item.starCount}}
									</template>
								</td>
								<td class="shoping__cart__price">								
									<template v-if="item.description!=''">
										{{item.description}}
									</template>
									<template v-else>
										<span class="badge bg-danger">暫無評價內容</span>
									</template>
								</td>
								<td class="shoping__cart__price">
									{{item.statusName}}
									<div>
										<template v-if="item.statusName=='已收貨'">
											<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#returnModal">退貨</button>
											<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">退貨原因</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="form-group">
															<label for="exampleFormControlTextarea1">您為甚麼想要退貨?</label>
															<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="returnReason"></textarea>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
															<button type="button" class="btn btn-danger" data-dismiss="modal" @@click="updateOdReturnReason(item.productId)">確定</button>
														</div>
													</div>
												</div>
											</div>
											<div class="dropdown">
												<button class="btn btn-outline-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
													評價
												</button>
												<div class="dropdown-menu">
													<a class="dropdown-item" @@click="createRating(item.productId,1)">1</a>
													<a class="dropdown-item" @@click="createRating(item.productId,2)">2</a>
													<a class="dropdown-item" @@click="createRating(item.productId,3)">3</a>
													<a class="dropdown-item" @@click="createRating(item.productId,4)">4</a>
													<a class="dropdown-item" @@click="createRating(item.productId,5)">5</a>
												</div>
											</div>
										</template>
									</div>
									<template v-if="item.statusName=='已評價'&&item.description==''">
										<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#returnModal">新增評價內容</button>
										<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">評價內容</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="form-group">
														<label for="exampleFormControlTextarea1">給此商品一點回饋?</label>
														<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="ratingDescription"></textarea>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
														<button type="button" class="btn btn-danger" data-dismiss="modal" @@click="updateRatingDescription(item.productId)">送出</button>
													</div>
												</div>
											</div>
										</div>
									</template>
									<template v-if="item.statusName=='未收貨'">
										<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#takeproductModal">完成收貨</button>
										<div class="modal fade" id="takeproductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">確定完成收貨</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">收到商品了嗎?如果已經收到，請按「完成」便可給予商品評價，或退貨商品</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
														<button type="button" class="btn btn-info" data-dismiss="modal" @@click="takeProduct(item.productId)">完成</button>
													</div>
												</div>
											</div>
										</div>
									</template>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="card text-center col-12">
				<div class="card-header">
					<h5 class="card-title">地址:{{allData.order.address}}</h5>
				</div>
				<div class="card-body">					
					<p class="card-text">出貨日期:{{allData.order.orderDate}}</p>
					<p class="card-text">到貨日期:{{allData.order.arrivalDate}}</p>
				</div>
				<div class="card-footer text-muted">
					<p class="card-text">手機:{{allData.order.buyerPhone}}</p>
					<p class="card-text">付款方式:{{allData.order.payMethod}}</p>
				</div>
			</div>
			
			<div class="col">
				<div class="shoping__checkout">
					<h5 class="text-center">結算</h5>
					<ul v-for="item in allData.details">
						<li>{{item.productName}} 							
							<span>
								{{getTotal(item.quantity,item.unitPrice,item.discount)}}
							</span>
						</li>
					</ul>					
					<div class="row">
						<div class="col text-left">總和:</div>
						<div class="col text-right" style="color:red">{{totalSumPrice}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="~/axios/axios.min.js"></script>
<script src="~/js/jquery-3.3.1.min.js"></script>>
<script src="~/js/popper.min.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			allData: {
				order:{},
				details:[]
			},		
			returnReason: [],
			ratingDescription: []
		},
		mounted: function () {
			this.getUserOrderDetails();
		},
		computed:{
			totalSumPrice: function () {
				var sum=0;
				for(var i=0;i<this.allData.details.length;i++){
					if (this.allData.details[i].discount==null){sum += this.allData.details[i].quantity * this.allData.details[i].unitPrice;}
					else { sum += this.allData.details[i].quantity * this.allData.details[i].unitPrice * this.allData.details[i].discount; }
				}
				return Math.ceil(sum);
			}
		},
		methods: {
			getUserOrderDetails: function () {
				var _this=this;
				var id = location.search.replace('?id=', '');
				axios.get(`/User/GetUserOrderDetails/${id}`).then(x=> {
					if (x.data.status) {_this.allData = x.data.data;}
					else { alert('not found data') }	
					for (var i = 0; i < _this.allData.details.length; i++) {
						_this.allData.details[i].path = `${window.location.origin}/productpictures/${_this.allData.details[i].pictureId}-${_this.allData.details[i].path};`
					}
				});			
			},
			createRating: function (productId, rating) {
				var _this = this;
				var request = {
					OrderId: _this.allData.order.orderId,
					ProductId: productId,
					StarCount: rating
				}
				axios.post(`/User/CreateRating`, request).then(response => {
					alert('完成評價!')
					_this.getUserOrderDetails();
				})
			},
			updateOdReturnReason: function (productId) {
				var _this = this;
				var request = {
					ProductId: productId,
					OrderId: _this.allData.order.orderId,
					Returnreason: _this.returnReason
				}
				axios.post(`/User/UpdateOdReturnReason`, request).then(reponse => {
					alert('成功送出退貨申請')
					_this.getUserOrderDetails();
				})
			},
			updateRatingDescription: function (productId) {
				var _this = this;
				var request = {
					OrderId: _this.allData.order.orderId,
					ProductId: productId,
					Description: _this.ratingDescription
				}
				axios.post(`/User/UpdateRatingDescription`, request).then(reponse => {
					alert('成功送出評價內容')					
					_this.getUserOrderDetails();
				})
			},
			takeProduct: function (productId) {
				var _this = this;
				var request = {
					OrderId: _this.allData.order.orderId,
					ProductId: productId,
				}
				axios.post(`/User/TakeProduct`, request).then(reponse => {
					alert('成功收到商品')
					_this.getUserOrderDetails();
				})
			},
			getTotal: function (quantity, unitPrice, discount) {
				if (discount == null) { return quantity * unitPrice; }
				else { return Math.ceil(quantity * unitPrice * discount); }
			}
		}
	});
</script>			